<h2><%= form_title %></h2>
  <%= form_for @task do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_area :description%>
    <%= f.label :priority %>
    <div class="container-radio">
      <%= f.radio_button :priority, '1' %>
      <%= f.label :priority, value: "High" %>
      <%= f.radio_button :priority, '2' %>
      <%= f.label :priority, value: "Mid" %>
      <%= f.radio_button :priority, '3', checked: true %>
      <%= f.label :priority, value: "Low" %>
    </div>
    <%= f.submit action_name %>
<% end %>
