<h2><%= page_title %></h2>
<%= form_for @task do |f| %>

  <%= f.label "Task Name:", class: "form"%>
  <%= f.text_field :name, class: "form"%>

  <%= f.label "Complete By:", class: "form"%>
  <%= f.text_field :comp_date, class: "form" %>

  <%= f.label "Description:", class: "form"%>
  <%= f.text_area :description, class: "form"%>

  <%= f.submit class: "submit"%>

<% end %>
