<h2><%= page_title %></h2>

<%= form_for @task do |f| %>
<%= f.label :title %>:
<%= f.text_field :title %><br/><br/>
<%= f.label :description %>
:
<%= f.text_area :description %><br/><br/>

<%= f.label :Location %>
:
<%= f.text_field :location %><br/><br/>

Priority:

<a><%= f.label :high_priority, 'High' %></a>
<%= f.radio_button :priority, 1 %><br/>

<a><%= f.label :med_priority, 'Medium' %></a>
<%= f.radio_button :priority, 2 %><br/>

<a><%= f.label :low_priority, 'Low' %></a>
<%= f.radio_button :priority, 3 %><br/><br/>

<%= f.submit %>
<% end %><br/>
