<header>
  <h2><%= action_name.titleize %></h2>
</header>

<main>
  <%= form_for @task do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :deadline %>
    <%= f.date_field :deadline %>

    <%= f.submit action_name %>
  <% end %>
</main>
