<section class="homepage">
  <section class="sidebar">
    <nav>
      <ul>
        <li>
          <a><%= link_to "Add Task", new_task_path %></a>
        </li>
        <li>
          <a><%= link_to "Home", tasks_path %></a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="priority">
    <h1>All Your Tasks:</h1>
    <ul>
      <% @tasks.each do |task| %>
        <li class="list">
          <a>🥦</a>
          <a><%= link_to task.title, task_path(task.id) %></a>
          <p>
            <a>Status:
              <% if task.complete.nil?%>
                incomplete
              <% else %>
                <%= task.complete %>
              <% end %>
            </a>
            |
            <a><%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' } %></a>
            |
            <a><%= link_to "Edit", edit_task_path(task.id) %></a>
          </p>
        </li>
      <% end %>
    </ul>
  </section>
</section>
