<section class="all_page">
  <section class="sidebar">
    <nav>
      <ul>
        <li>
          <a><%= link_to "Add Task", new_task_path %></a>
        </li>
        <li>
          <a><%= link_to "Home", tasks_path %></a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="priorities">
    <article>
      <h1>#1 Priority:</h1>
      <ul>
        <% @tasks.each do |task| %>
          <li class="list">
            <% if task.priority == 1 && task.done != true%>
              <p>🌶
                <a><%= link_to task.title, task_path(task.id) %></a>
              </p>
              <p>
                <%= link_to "Complete", completed_task_path(task.id), method: :patch %>
                |
                <a><%= link_to "Edit", edit_task_path(task.id) %></a>
                |
                <a><%= link_to "🗑", task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %></a>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>
    </article>

    <article>
      <h1>#2 Priority:</h1>
      <ul>
        <% @tasks.each do |task| %>
          <li class="list">
            <% if task.priority == 2 && task.done != true%>
              <p>🥦
                <a><%= link_to task.title, task_path(task.id) %></a>
              </p>
              <p>
                <%= link_to "Complete", completed_task_path(task.id), method: :patch %>
                |
                <a><%= link_to "Edit", edit_task_path(task.id) %></a>
                |
                <a><%= link_to "🗑", task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %></a>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>
    </article>

    <article>
      <h1>#3 Priority:</h1>
      <ul>
        <% @tasks.each do |task| %>
          <li class="list">
            <% if task.priority == 3 %>
              <p>🥕
                <a><%= link_to task.title, task_path(task.id) %></a>
              </p>
              <p>
                <%= link_to "Complete", completed_task_path(task.id), method: :patch %>
                |
                <a><%= link_to "Edit", edit_task_path(task.id) %></a>
                |
                <a><%= link_to "🗑", task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %></a>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>
    </article>

    <article>
      <h1>Completed Tasks:</h1>
      <ul>
        <% @tasks.each do |task| %>
          <li class="list">
            <% if task.done == true %>
              <p>🎖
                <a><%= link_to task.title, task_path(task.id) %></a>
              </p>
              <p>
                <a><%= link_to "Details", task_path(task.id) %></a>
                |
                <a><%= link_to "🗑", task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %></a>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>
    </article>

  </section>

</section>
