<h2>Edit Task:</h2>

<main class="form">
  <%= form_for @task do |f| %>

  <div class="form-fields">
    <%= f.label "Task: ", class: "form-text", for: "task_task" %>
    <%= f.text_field :task, class: "form-field" %>
  </div>

  <div class="form-fields">
    <%= f.label "Description: ", class: "form-text" %>
    <%= f.text_area :description %>
  </div>

  <div class="form-fields">
    <%= f.label "Completed? ", class: "form-text" %>
    <%= f.text_field :completed, class: "form-field" %>
  </div>

  <%= f.submit class: "form-fields", class: "submit-button" %>

  <%end%>
</main>
