<h2>Edit Task</h2>
<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :completion_date, "Date To Be Completed by" %>
  <%= f.date_field :completion_date, min: Date.today %>

  <%= f.submit %>
<% end %>
