<section>
<!-- <h2 id="hp-header-index"TaskList</h2> -->

  <ol id="task-list">
  <% @tasks.each do |task| %>
    <li>
      <span id="tasks">
      <% if task.actual_completion_date == nil %>
        <div><%=link_to task[:description], task_path(task[:id]) %></div>
      <% else %>
      <div><%=link_to task[:description], task_path(task[:id]) %></div>
      <%end%>
    </span id="buttons">
      <%= button_to "Edit", edit_task_path(task.id), method: :get, :id => "edit-button"%>

      <%= button_to "Mark Complete", tasks_completed_path(task.id), method: :patch, :id => "complete-button"%>

      <%= button_to "Delete", remove_item_path(task.id), method: :delete, data: {confirm: "Are you sure?"}, :id => "delete-button"%></span>

    </li>
      <%end%>
  </ol>
</section>
