<h4>TO DO:</h4>

<% sorted = Task.sort.reverse %>
<ul>
  <% sorted.each do |task| %>

    <li>
      <ul>
        <li>
          <strong><%= task.name.capitalize %></strong>
        </li>
        <li>
          <%= task.description %>
        </li>
        <li>
          <% priority = "Priority: #{task.priority}" %>
          <% if task.priority == 5 %>
            <span id = 'priority'><%= priority %></span>
          <% elsif task.priority >= 3 && task.priority <= 4 %>
            <span id = 'medium'><%= priority %></span>
          <% else %>
            <span id = 'low'><%= priority %></span>
          <% end %>

          <br>
          <%= link_to('View', task_path(task)) %>
        </li>
      </ul>

  <% end %>
</ul>
