<div class="your-tasks">
  <h2>YOUR TASKS</h2>
  <ul>
    <% i = 1 %>
    <% @tasks.each do |task| %>
      <li class="<%='strikethrough' if task.completed? %>">
        <%= i %>. <%= link_to task.name, task_path(task.id) %>
      </li>
      <div class="task-links">
        <%= link_to !task.completed? || task.completed?.nil? ? "Mark Complete" : "Unmark Complete", complete_task_path(task.id), method: :patch %>
        | <%= link_to "Edit", edit_task_path(task.id) %> |
        <%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% i += 1 %>
    <% end %>
  </ul>
</div>
