<div class="header">
  TaskList
</div>

<ul class="tasks-list-list">
<% @tasks.each do |task| %>
  <% next if task.status == "Complete" %>
  <li>
    <ul class="tasks-list-task">
      <li class="task-name"><%= link_to task.name, task_path(task.id) %></li>

      <!-- <li class="task-name"><%= task.name %></li> -->
      <li class="task-list-property task-due">Due: <%= task.due %></li>
      <!-- <li class="complete-button"> -->
        <%= button_to "âœ… Done", mark_task_complete_path(task.id), method: :patch %>
      <!-- </li> -->
      <!-- <li class="edit-button"> -->
        <%= button_to "ðŸ“ Edit", edit_task_path(task.id), method: :get %>
      <!-- </li> -->
      <!-- <li class="task-list-property task-status">Status: <%= task.status %></li> -->

    </ul>
  </li>
<% end %>
</ul>

<div class="subheader">
  Completed
</div>
<section class="completed-tasks-list">
  <ul class="tasks-list-list">
  <% @tasks.each do |task| %>
    <% next if task.status == "Incomplete" %>
    <li>
    <ul class="tasks-list-task">
        <li class="task-name"><%= link_to task.name, task_path(task.id) %></li>
        <li class="task-completed-on">Completed on: <%= task.completed_on %></li>
      </ul>
    </li>
  <% end %>
  </ul>
</section>
