<h2>Daily To-Do</h2>

<ul class="task-list">
    <% @tasks.each do |task| %>
    <form action="/tasks" method="post"
      <li>
        <!-- Figure out how to do this with a checkbox instead of a word  -->
        <input type="checkbox" formaction="/tasks" formmethod="post">
        <%   if task.status == "DONE" %>
        <del><strong><%= link_to(task.name, task_path(task)) %></strong></del>
        <%   else  %>
        <strong><%= link_to(task.name, task_path(task)) %></strong>
        <%   end  %>
        <br />
        <em><%= task.description %></em>
        <br />
        <%= task.status %>
        <br />
        <%= link_to("Done", complete_task_path(task), :data => {:confirm => "Mark this task complete?",
          :method => "post"}) %>
        <%= link_to("Edit", edit_task_path(task)) %>
        <%= link_to("Delete", delete_task_path(task), :data => {:confirm => "Are you sure you want to delete this task?",
        :method => "delete"}) %></p>
      </li>
    <% end %>
</ul>
