<h1>
  Your Tasks&nbsp;<i class="fa fa-check-square-o"></i>
</h1>

<ol>
<% @tasks.each do |task| %>
  <li>
    <% if task.status %>
        <%= link_to(task.name.capitalize, task_path(task), class:"task-list-link complete") %>
    <% else %>
        <%= link_to(task.name.capitalize, task_path(task), class:"task-list-link incomplete") %>
    <% end %>
    <em>
      (by <%= task.complete_by %> )
    </em>
    <br>
    <p>
      <% if !task.status %>
        <%= link_to("Mark Complete |", toggle_path(task), method: :patch) %>
      <% else %>
        <%= link_to("Mark Incomplete |", toggle_path(task), method: :patch) %>
      <% end %>
    </p>
    <p>
      <%= link_to("Edit |", edit_task_path(task.id)) %>
    </p>
    <p>
      <%= link_to("Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" }) %>
    </p>
    <hr>
  </li>
<% end %>
</ol>
