<div class="your-tasks">
  <h2>YOUR TASKS</h2>
  <ul>
    <% i = 1 %>
    <% @tasks.each do |task| %>
      <li class="<%='strikethrough' if !task.completion_date.nil? %>">
        <a><%= i %>. <%= link_to task.name, task_path(task.id) %></a>
      </li>
        <%= link_to "Mark Complete", complete_task_path(task.id), method: :put, class: "task-links" %> | <%= link_to "Edit", edit_task_path(task.id), class: "task-links" %> |
        <%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "task-links" %>
      <!-- </p> -->
    <% i += 1 %>
    <% end %>
  </ul>
</div>
