<h1>Tasks List</h1>
<ol>
  <% @tasks.each do |task| %>
    <li>
      <dl>
        <dt>
          <% if task.completed == true %>
            <%= link_to task.name, task_path(task.id), class: "priority-#{task.priority} completed" %>
          <% else %>
            <%= link_to task.name, task_path(task.id), class: "priority-#{task.priority}" %>
          <% end %>
        </dt>
        <dd><%= task.description %></dd>
        <dd>
          <% if task.completed == true %>
            <%= link_to "Mark Not Completed", complete_task_path(task.id), method: :patch %></dd>
          <% else %>
            <%= link_to "Mark Completed", complete_task_path(task.id), method: :patch %></dd>
          <% end %>
      </dl>
    </li>
  <% end %>
</ol>
