<body>
  <h2>Get Shit Done:</h2>
  <ul class="whole-list">
    <% @tasks.each do |task|%>
    <li class="task-list">
      <% if task.completed != "No" %>


      <span class="each">
        <%= link_to task.task, task_path(task[:id]), class: "done" %> |
        <%= link_to "UnMark Complete", mark_completed_path(task.id), method: :patch, class: "option"%> |
        <%= link_to "Delete", task_path(task.id), class: "option", method: :delete, data: { confirm: 'Are you really sure about that?' } %>
      </span>

      <%else%>

      <span class="each">
        <%= link_to task.task, task_path(task[:id]), class: "pending" %> |
        <%= link_to "Mark Complete", mark_completed_path(task.id), method: :patch, class: "option selections",  data: { confirm: 'Are you sure?' }%> |
        <%= link_to "Edit", edit_task_path(task.id), class: "option"%> |
        <%= link_to "Delete", task_path(task.id), class: "option", method: :delete, data: { confirm: 'Are you really sure about that?' } %>
      </span>
    </li>
    <% end %>
    <% end %>
  </ul>
</body>
