<!-- TODO: DRY this code, specially on the if statment for completed or not. -->

<section class="tasks-list">
  <h2>YOUR TASKS</h2>
  <ul>

    <% num = 0 %>

    <% @tasks.each do |task| %>

    <% if task.completed_date.nil? %>
    <li>
      <% num += 1 %>

      <strong><%= num %>. </strong><%= link_to task.name, task_path(task[:id]) %>
      <p class="actions">
        <%= link_to "Mark Complete", mark_complete_path(task[:id]), method: :patch %> |
        <%= link_to "Edit", edit_task_path(task[:id]) %> |
        <%= link_to "Delete", task_path(task[:id]), method: :delete, data: { confirm: 'Are you sure?'} %>
      </p>

      <% else %>
      <li class="completed">
        <% num += 1 %>
        <strong><%= num %>. </strong><em><%= link_to task.name, task_path(task[:id]) %></em>
        <p class="actions">
          <%= link_to "Mark Incomplete", mark_complete_path(task[:id]), method: :patch %> | <%= link_to "Delete", task_path(task[:id]), method: :delete, data: { confirm: 'Are you sure?'} %>
        </p>
        <% end %>
      </li>
      <% end %>
    </ul>
  </section>
