
<h3>Your Tasks</h3>
<ol>
<% @tasks.each do |task| %>
  <li>
    <%= task.name %> -- <%= task.description %> -- <%= task.completion_date %>
    <%= link_to("Task Details", task_path(task)) %>
    <%= link_to("Edit", edit_task_path(task)) %>
  </li>
<% end %>
</ol>
