<h4>TO DO:</h4>

<% sorted = Task.sort.reverse %>
<ul>
  <% sorted.each do |task| %>

    <li>
      <section>
        <p>
          <strong><%= task.name.capitalize %></strong>
        </p>
        <p>
          <%= task.description %>
        </p>
        <p>
          <% priority = "Priority: #{task.priority}" %>
          <% if task.priority == 5 %>
          <span id = 'priority'><%= priority %></span>
          <% elsif task.priority >= 3 && task.priority <= 4 %>
          <span id = 'medium'><%= priority %></span>
          <% else %>
          <span id = 'low'><%= priority %></span>
          <% end %>

        </p>
        <div>
          <p>
            <%= link_to('Mark Complete', task_complete_path(task), method: :patch) %>
          </p>
          <p>
            <%= link_to('View', task_path(task)) %>
          </p>
          <p><%= link_to('Delete', task_path(task), method: :delete) %></p>
        <div>
      </section>

  <% end %>
</ul>
