<h2> Good morning Wini!</h2>
<p> Your tasks for this week are:</p>
<p>
  <ul>
    <% @tasks.each do |task|%>

    <% if task.completion != nil%>

    <li>
      <strike><%= link_to task.name, task_path(task.id) %></strike>
      <ul id="container_task_options">
        <li><%= link_to("Mark Complete", task_path(task.id), method: :put) %></li>
        <li><%= link_to"Update", edit_task_path(task.id) %></li>
        <li><%= link_to("Delete", task_path(task.id), method: :delete, data: {confirm: "Are you done with this task?"}) %></li>
      </ul>
    </li>

    <%else%>
    <li>
      <%= link_to task.name, task_path(task.id) %>
      <ul id="container_task_options">
        <li><%= link_to("Mark Complete", task_path(task.id), method: :put) %></li>
        <li><%= link_to"Update", edit_task_path(task.id) %></li>
        <li><%= link_to("Delete", task_path(task.id), method: :delete, data: {confirm: "Are you done with this task?"}) %></li>
      </ul>
    </li>




    <% end %>
    <%end%>
  </ul>
</p>

<%= link_to"Add new task", new_task_path %>
