<section class="homepage">
  <section class="sidebar">
    <nav>
      <ul>
        <li>
          <a><%= link_to "Add Task", new_task_path %></a>
        </li>
        <li>
          <a><%= link_to "All Tasks", all_tasks_path %></a>
        </li>
      </ul>
    </nav>
    <article>
      <h1>Onward + Upward!</h1>
    </article>
  </section>

  <section class="priority">
    <h1>Your #1 Priority Tasks:</h1>
    <ul>
      <% @featured.each do |task| %>
        <li class="list">
          <p class="chore">
            🌶
            <a ><%= link_to task.title, task_path(task.id) %></a>
          </p>
          <p>
            <a><%= link_to "Edit", edit_task_path(task.id) %></a>
            |
            <%= link_to "Complete", completed_task_path(task.id), method: :patch %>
            |
            <a><%= link_to "Delete", task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></a>

          </p>
        </li>
      <% end %>
    </ul>
  </section>
</section>
