<section class="new-task-view">
  <section class="new-header">
    <h1>Task Completed!</h1>
  </section>
  <!-- <section class="new_form">
    <%= form_for @task do |f| %>
    <%= f.label :name %>
    <%= f.text_field :task_name %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit %>
  <% end %>
</section> -->
</section>
