<%= form_for @task do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :complete_by %>
  <%= f.date_field :complete_by %>

  <%= f.submit "Add Task" %>

<% end %>

<!-- <form action="/tasks" method="post" accept-charset="utf-8"> -->
  <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
  <!-- <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


    <label for="name">Task Name</label>
    <input type="text" name="name" value="" id="name">

    <label for="description">Description</label>
    <input type="text" name="description" value="" id="description">

    <label for="date">Deadline</label>
    <input type="text" name="date" value="" id="date">

    <input type="submit" value="Create Task">

</form> -->
