<%= render partial: "form", locals: { page_title: "Create a new task" } %>

<!-- <h2>Create a new task</h2>
<%= form_for @task do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :completion_date %>
<%= f.text_area :completion_date %>
<%= f.submit "Add Task"%>
<% end %>
 -->

<!-- <form action="/tasks" method = "post">
  <label for="name">Name:</label>
  <input name="book[name]" value="" id="name" type="text"/>

  <label for="description">Description:</label>
  <input name="book[description]" id="description" type="text"/>

  <label for="completion_date">Completion Date:</label>
  <textarea name="book[completion_date]" id="completion_date"> </textarea>
  <input name="authenticity_token" value="<%= form_authenticity_token%>" type="hidden"/>

  <input name="submit" value="Create Task" type="submit"/>
</form> -->
