<section class="new_task">
  <section class="sidebar">
    <nav>
      <ul>
        <li>
          <a><%= link_to "Add Task", new_task_path %></a>
        </li>
        <li>
          <a><%= link_to "All Tasks", all_tasks_path %></a>
        </li>
        <li>
          <a><%= link_to "Home", tasks_path %></a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="form">
      <h2>🍦 Add a Task! 🍦</h2>
      <article>
        <%= form_for @task do |f| %>

        <span><%= f.label :title %>:
        <%= f.text_field :title %></span>
      </article><br/>

      <article>
        <%= f.label :description %>
        :
        <%= f.text_area :description %>
      </article><br/>

      <article>
        <%= f.label :Location %>
        :
        <%= f.text_field :location %>
      </article><br/>

      <article>
        <span>
          Priority:
        </span>
        <span>
          <a><%= f.label :high_priority, 'High' %></a>
          <%= f.radio_button :priority, 1 %><br/>

          <a><%= f.label :med_priority, 'Medium' %></a>
          <%= f.radio_button :priority, 2 %><br/>

          <a><%= f.label :low_priority, 'Low' %></a>
          <%= f.radio_button :priority, 3 %>
        </span>
        <%= f.submit %>
        <% end %>
        
      </article><br/>

  </section>
</section>
