<main class=main>

<ul>
<li><strong>Task:</strong> <%= @task.name %></li>
<li><strong>Description:</strong> <%= @task.description %></li>
<li><strong>Priority:</strong> <%= @task.priority %></li>
<li><strong>Due Date:</strong> <%= @task.due_date %></li>
<li><strong>Status:</strong> <%= @task.status %></li>
</ul>

</main>
