<div class ="show">
  <h2>Details for <%= @task.name %></h2>

  <ul>
    <li>Description: <%= @task.description %></li>
    <li>Priority: <%= @task.priority %></li>
    <li>Due: <%= @task.due %></li>
    <li>Status: <%= @task.status %></li>
    <li><%= link_to "Edit", edit_task_path(@task) %></li>
  </ul>
  
</div>
