<section class= "details">
  <strong><h2>Task Details<%=link_to 'Edit Task', edit_task_path(@task)%></h2></strong>


  <ul >
    <li>
      <p> <strong> Task Name: </strong><%= @task.name %></p>
    </li>
    <li>
      </p><strong>Start Date: </strong> <%=@task.start_date %> </p>
    </li>
    <li>
      <p> <strong>Description: </strong> <%= @task.description%></p>
    </li>
    <li>
      <p> <strong>Completion Date: </strong> <%=@task.completion_date%></p>
    </li>
  </ul>

</section>
