<nav class="edit_del">
  <ul>
    <li>
      <%= button_to "Edit", edit_task_path, form_class:'btn_show', method: :get%>
    </li>
    <li>
      <%= button_to "Delete", task_path(@task.id), method: :delete, data: { confirm: "You sure?" }, form_class:'btn_show'%>
    </li>
    <% if !(@task.complete.nil?) %>
    <li>
      <div>Completed On: <%= @task[:complete] %></div>
    </li>
    <% end %>

  </ul>
</nav>
<section class="task">
  <h2><%= @task.name.upcase %></h2>
  <p>
    Due by: <%= @task.completion_date %>
  </p>
</section>
