<h1><%= @task.name %></h1>
<h3><%= @task.description %></h3>
<h3><%= @task.completion_date %></h3>

<ul>
  <li>
    <%= link_to "Edit", edit_task_path %>
  </li>
  <li>
    <%= link_to "Delete", task_path(@task.id), method: :delete %>
  </li>


</ul>
