
<strong><h2>Details</h2></strong></p>



<ul class= "details">
  <%=link_to 'Edit Task', edit_task_path%>
    <li>
      <p> <strong> Task Name: </strong><%= @task.name %></p>
    </li>
    <li>
    </p><strong>Start Date: </strong> <%=@task.start_date %> </p>
    </li>
    <li>
      <p> <strong>Description: </strong> <%= @task.description%></p>
    </li>
    <li>
      <p> <strong>Completion Date: </strong> <%= @task.completion_date%></p>
    </li>


</ul>
