<h2 class="task-title">To Do:</h2>
<section class="task-info">

  <p>Task: <%= @task.task%> </p>
  <p>Description: <%= @task.description%></p>
  <p> Completed: <%= @task.completed%></p>


  <% if @task.completed != "No" %>

  <ul class="edit_things">

    <li class="edit-list">
      <%= link_to "Edit", edit_task_path, class: "change-task" %>
    </li>

    <li class="edit-list">
      <%= link_to "Delete", task_path(@task.id), class: "change-task", method: :delete, data: { confirm: 'Are you really sure about that?' } %>
    </li>
  </ul>

  <%else%>

  <ul class="edit_things">

    <li class="edit-list">
      <%= link_to "Mark Complete", mark_completed_path(@task.id), method: :patch, class: "change-task", data: { confirm: 'Are you sure?' }%>
    </li>

    <li class="edit-list">
      <%= link_to "Edit", edit_task_path, class: "change-task" %>
    </li>

    <li class="edit-list">
      <%= link_to "Delete", task_path(@task.id), class: "change-task", method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>

  <%end%>

</section>
