<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <%= image_tag "to_do.jpg", alt:"site logo", class:"logo"%>

    <h1>Welcome to Task List Application</h1>
    <nav>
      <ul>
        <li><%= button_to "All Tasks", tasks_path %></li>
        <li><%= button_to "Add Task", new_task_path %></li>
      </ul>

    </nav>
  </header>

  <main class ="big-box">
    <%= yield %>
  </main>

  <footer>
    <p>&copy; Brenda Rios, 2018</p>
  </footer>
</body>
</html>
