<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Oswald" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <h1>A really cool title</h1>
    </header>
    <nav class="home">
      <ul>
          <li><%= link_to('All Items', tasks_path) %></li>
          <li><%= link_to('Add New Item', new_task_path) %></li>
        </ul>
    </nav>
    </main>
      <%= yield %>
    </main>
    <footer>
      &copy; Ada Developers Academy, 2018
    </footer>
  </body>
</html>
