<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <header>
    <nav>
      <ul>
        <li class="fa fa-home">
          <%= link_to "Home", tasks_path %>
        </li>
        <li class="fa fa-plus">
          <%= link_to "Add", new_task_path %>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="flash-message">
      <% flash.each do |key, value| %>
      <div><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </main>

  <footer>
    <div>Copyright © 2018</div>
  </footer>
</body>
</html>
